<% if (repos && repos.length > 0) { %>
    <h3>Repositories of <%= username %>:</h3>
  
    <% if (cached) { %>
      <p style="color: rgb(119, 17, 17);"><b><u>(Loaded from cache)</u></b></p>
    <% } else { %>
      <p style="color: rgb(6, 132, 4);"><b><u>(Loaded from GitHub API)</u></b></p>
    <% } %>
  
    <ul>
      <% repos.forEach(repo => { %>
        <li>
          <a href="<%= repo.html_url %>" target="_blank"><%= repo.name %></a><br>
  
          <!-- Languages -->
          <strong>Languages:</strong>
          <ul>
            <% for (let lang in repo.languages) { %>
              <li><%= lang %>: <%= repo.languages[lang] %> bytes</li>
            <% } %>
          </ul>
  
          <!-- Recent Commits -->
          <strong>Latest Commits:</strong>
          <ul>
            <% repo.commits.slice(0, 3).forEach(commit => { %>
              <li><%= commit.commit.message %> - <%= commit.commit.author.name %></li>
            <% }) %>
          </ul>
  
          <!-- Events -->
          <strong>Recent Events:</strong>
          <ul>
            <% repo.events.slice(0, 3).forEach(event => { %>
              <li><%= event.type %> at <%= event.created_at %></li>
            <% }) %>
          </ul>
          <hr>
        </li>
      <% }) %>
    </ul>
  <% } else if (username && error) { %>
    <p>Repositories for "<%= username %>": <%= error %></p>
  <% } %>
  